body {
    font-family: "Poppins", Arial, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.pix {
    background-color: #5A9BE6;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pix label {
    font-size: 1rem;
    font-weight: 900;
}

.pix i {
    font-size: 1.2rem;
}

@media (max-width: 991.98px) {
    .pix label {
        font-size: 0.8rem;
        font-weight: 900;
    }

    .pix i {
        font-size: 1rem;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    transform: translate3d(0.4rem, 0rem, 0rem); /* distancia entre menu e btn */
}
.dropdown {
    display: inline-block; /* deixa o LO do "tamanho do próprio texto" e não da largura inteira da tela*/
    list-style: none;
}

a {
    color: #5A9BE6;
    text-decoration: none;
    background-color: transparent;
}

.navbar-toggler {
    font-size: 1.8rem !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    border: none !important;
}

.container2 {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 991.98px) {
    .container2 {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #5A9BE6;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.ftco-navbar-light {
    background: #333333 !important;
    z-index: 3;
    padding: 0px 14px;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light {
        background: #333333 !important;
        position: relative;
        top: 0;
        padding: 10px 15px;
    }
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
        padding-bottom: 10px;
    }
}

.dropdown-menu>.nav-item>.nav-link {
    font-size: 14px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #5A9BE6;
    position: relative;
    opacity: 1 !important;
}

.dropdown-menu>.nav-item>.nav-link:hover {
    font-size: 14px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #5A9BE6;
    position: relative;
    opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 14px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #5A9BE6;
    position: relative;
    opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    color: #fff;
    transition: all .3s ease;
    transform: scale(1.1);
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
        color: #fff;
        transition: all .3s ease;
        transform: scale(1);
    }
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: .5rem;
        padding-bottom: .5rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
        color: #fff;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    border-radius: 4px;
    padding: 0;
}

.dropdown-item {
    width: auto !important;
}

.dropdown-item:hover,
.dropdown-item:hover {
    background: #5A9BE6;
    color: #fff;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item {
    font-size: 12px;
    color: #000;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:focus {
    background: #5A9BE6;
    color: #fff;
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #fff;
    background: #5A9BE6;
    border-radius: 0px;
}

@media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
        color: #fff;
        background: #5A9BE6;
        border-radius: 4px;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: #5A9BE6;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.active>a {
        color: #fff;
    }
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:focus {
    outline: none !important;
}

.social-media p a {
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 50% !important;
    margin-right: 4px !important;
}

.social-media p a:hover {
    background: #5A9BE6 !important;
    color: #fff !important;
}

@media (max-width: 991.98px) {
    .social-media p a {
        border: none !important;
        color: #5A9BE6 !important;
        width: 3rem !important;
        height: 3rem !important;
    }

    .social-media p a:hover {
        border: none;
        background-color: #5A9BE6 !important;
        color: #fff !important;
        width: 3rem !important;
        height: 3rem !important;
    }

    .social-media p a span {
        color: #fff !important;
    }
}





div.containerTopMenu {
    margin: 0 auto;
    padding: 0.5rem 1em;
    text-align: center;
}

div.containerTopMenu a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.highlightTextIn a:before {
    position: absolute;
    color: #5A9BE6;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.5s ease;
    transform: scale(0.8);
    opacity: 0;
}

div.highlightTextIn a:hover:before {
    transform: scale(1);
    opacity: 1;
}

/* Highlight text in  */
div.highlightTextIn a {
    color: rgba(0, 0, 0, 0.4);
}

div.highlightTextIn a:before {
    transform: scale(1.8);
}

.highlightTextIn ul {
    list-style: none;
}

.highlightTextIn ul li {
    font-size: 1rem;
    padding: 0rem 2rem;
    color: #5A9BE6;
}

@media (max-width: 768px) {
    .containerTopMenu {
        padding: 1.4rem;
    }

    .highlightTextIn ul li {
        font-size: 0.7rem;
        padding: 0rem;
    }
}

@media (max-width: 500px) {
    .containerTopMenu {
        padding: 1.2rem;
    }

    .highlightTextIn ul li {
        font-size: 0.5rem;
        padding: 0rem;
    }
}